.header{
    width: 100%;
    height: 60px;
    background-color:  rgb(72, 204, 204);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-right-div{
    width: 40%;

}
.header-links{
    display: flex;
    justify-content: space-evenly;

}
.header-links li{
    list-style-type: none;
}
.nav-links{
    text-decoration: none;
    color: black;
}
.nav-links:hover {
    text-decoration: underline;
    color: beige;
}


.logo{
    margin-left: 10px; 
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (min-width:100px) and (max-widht:750px) {
    .header{
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 

    .header-right-div{
        width: 100%;
    
    }
    .nav-links{
       font-size: 15px;
    }
}